<app-header></app-header>
<app-banner></app-banner>

<div class="mt-10">
  <h2>Trending Movies</h2>
  <div class="mt-10">
    <app-content-card [items]="trendingMovieResult"></app-content-card>
  </div>
</div>

<div class="mt-10">
  <h2>Action Movies</h2>
  <div class="mt-10">
    <app-content-card [items]="actionMovieResult"></app-content-card>
  </div>
</div>

<div class="mt-10">
  <h2>Adventure Movies</h2>
  <div class="mt-10">
    <app-content-card [items]="adventureMovieResult"></app-content-card>
  </div>
</div>

<div class="mt-10">
  <h2>Animation Movies</h2>
  <div class="mt-10">
    <app-content-card [items]="animationMovieResult"></app-content-card>
  </div>
</div>

<div class="mt-10">
  <h2>Comedy Movies</h2>
  <div class="mt-10">
    <app-content-card [items]="comedyMovieResult"></app-content-card>
  </div>
</div>

<div class="mt-10">
  <h2>Documentary Movies</h2>
  <div class="mt-10">
    <app-content-card [items]="documentaryMovieResult"></app-content-card>
  </div>
</div>

<div class="mt-10">
  <h2>Science-Fiction Movies</h2>
  <div class="mt-10">
    <app-content-card [items]="fictionMovieResult"></app-content-card>
  </div>
</div>

<div class="mt-10">
  <h2>Thriller Movies</h2>
  <div class="mt-10">
    <app-content-card [items]="thrillerMovieResult"></app-content-card>
  </div>
</div>
