<div class="w-full overflow-x-auto overflow-y-hidden no-scrollbar">
  <div class="flex gap-3">
    <ng-container *ngFor="let item of items">
      <div>
        <div class="w-52 h-80 relative z-10">
          <a href="#" class="group relative block bg-black">
            <img
              alt="{{ item.title }}"
              src="https://image.tmdb.org/t/p/original/{{ item.poster_path }}"
              class="absolute top-0 left-0 w-auto h-auto object-contain opacity-75 transition-opacity group-hover:opacity-50"
            />

            <div class="relative p-4 sm:p-6 lg:p-8">
              <div class="mt-3 sm:mt-5 lg:mt-8">
                <div
                  class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                >
                  <h3 class="text-bold text-white">
                    {{ item.title }}
                  </h3>
                  <br />
                  <p
                    class="text-sm text-white"
                    [innerText]="item.overview"
                    appTruncateText
                    [maxCharacters]="80"
                  >
                    {{ item.overview }}
                  </p>
                  <br />
                  <div class="flex justify-evenly text-white">
                    <button class="bg-red-500 rounded-xl py-2">
                      <fa-icon [icon]="play">Watch</fa-icon>
                    </button>
                    <button class="bg-red-500 rounded-xl py-2 ml-3">
                      <fa-icon [icon]="options"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
