@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}
